@import url('../../style.css');
custom-header{
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    width:100%;
}
header{
    z-index:100;
    display: flex;
    backdrop-filter: blur(5px);
    justify-content: space-between;
    align-items: center;
    color: var(--blue);
    border-bottom: 1px solid var(--third);
}
h1 {
    margin: 5px;
}
button {
    margin-right: 10px;
}